@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    padding-left: 0;
    padding-right: 0;
}

p, h1, h2, h3{
    color: white;
    margin-bottom: 0;
}

body{
    background-color: #13101C;
    font-family: 'Inter';
    height: 100vh;
}

a{
    text-decoration: none;
}

#my-chart.line{
    --color-1:linear-gradient(106.73deg, #8F00FF -7.65%, #0C60B4 100%);;
    width: 100%;
    height: 200px;
}

.icon{
    width: 24px;
    height: 24px;
}

.logo, .mini-logo{
    font-weight: 600;
    font-size: 40px;
}

.mini-logo{
    display: none;
}

.btn{
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 0;
}

.add-btn,.main-balance-info{
    background-image: linear-gradient(106.73deg, #8F00FF -7.65%, #0C60B4 100%);
}

.btn:hover{
    box-shadow: 0px 0px 10px #7041A7;
}
.font-menu,.font-add{
    font-size: 20px; 
    color:white;   
}

.font-menu{
    color:#9B9B98;
}
.font-xsm{
    font-size: 12px;
}

.font-sm{
    font-size: 14px;
}

.font-md{
    font-size: 18px;
}

.font-m{
    font-size: 22px;
}

.font-l{
    font-size: 28px;
}
.font-xl{
    font-size: 30px;
}

.bold{
    font-weight: 600;
}

.inner-btn{
    gap:16px;
    margin:8px 16px 8px 16px;
}

.btn-text{
    margin: 6px 24px 6px 24px;
}

.menu{  
    border-right: 3px solid transparent;
    border-image:linear-gradient(106.73deg, #8F00FF -7.65%, #0C60B4 100%);
    border-image-slice: 1;
    height: 102vh;
}

.menu-content{
    align-items: center;
    padding: 40px 0 40px 0;
    margin-right: 16px;
    height: 100%;
}

.section-btns{
    padding-top: 24px;
    height: 100%;
    justify-content: space-between;
}

.border-gradient{
    border-radius: 20px;
    border: double 2px transparent;
    background-image: linear-gradient(#1D1B25,#1D1B25),
    linear-gradient(106.73deg, #8F00FF -7.65%, #0C60B4 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.text-gradient{
    background-image: linear-gradient(106.73deg, #8F00FF -7.65%, #0C60B4 100%);
    background-clip: text;
    font-weight: 600;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}

.header{
    border-bottom: 3px solid transparent;
    border-image:linear-gradient(106.73deg, #8F00FF -7.65%, #0C60B4 100%);
    border-image-slice: 1;   
    padding: 8px 40px 8px 40px;
}

.col-md-10{
    width: 83.99%;
}

.select-month{
    margin: 8px 8px 8px 16px;
}

.dropdown-toggle::after{
    position: relative;
    color: white;
    margin-right: 16px;
}

.top-body{
    margin:30px 40px 16px 40px
}
.welcome{
    margin-left: 24px;
}

.user-infos{
    gap: 16px;
    position: absolute;
    right: 40px;
}

.balance{
    gap: 32px;
    margin-bottom: 24px;
    justify-content: space-between;
}

.balance-info, .container-bank-bills, .total-transations-values{
    background-color: #1D1B25;
    border-radius: 20px;
}
.balance-info,.main-balance-info{
    border-radius: 20px;
    padding: 8px 16px;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.container-graph-info{
    margin: 30px;
    gap: 24px;
}

.container-balance-graph{
    padding-right: 32px;
}

.container-bank-bills{
    padding: 24px;
    gap: 24px;
}

.graph-tittle{
    justify-content: space-between;
}

.months{    
    justify-content: space-between;
}

.graph-months{
    margin-top: 24px;
    padding: 0 16px 0 16px;
    width: 100%;
}

.graph{
    padding: 0 16px 0 16px;
}

#my-chart{
    --secondary-axes-color: rgba(224, 224, 224, 0.2);
}

.graph-values{
    height: 100%;
    justify-content: space-between;
}

.radios{
    padding: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 34px;
    width: 150px;
    border-radius: 20px;
    background-image: linear-gradient(106.73deg, #8F00FF -7.65%, #0C60B4 100%);
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.4);
}

.radio-btn{
    position: relative;
    outline: none;
    width: 60px;
    height: 26px;
    background:transparent;
    appearance: none;
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 6px;
    transition: 1s;
}

.radio-btn::before{
    content: 'Fechadas';
    height: 26px;
    background-color: #1D1B25;
    border-radius: 20px;
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    color: white;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.4);
}

.radio-btn:checked::before{
    content: 'Abertas';
    left: 60px;
    width: 70px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.4);
}

.bank-bills-header{
    justify-content: space-between;
}

.bank-infos{
    width: calc(100% - 40px);
    justify-content: space-between;
}

.name-due-date{
    gap: 24px;
}

.bank-logo, .bank-logo2{
    width: 36px;
    height: 36px;
    border-radius: 20px;
    margin-right: 4px;
}

.bank-logo{
    background-image: url('./css-imgs/nu-logo.png');
}

.bank-logo2{
    background-image: url('./css-imgs/itau-logo.png');
}

.bank{
    width: 100%;
}

.total-bill{
    border-top: solid white 2px;
    padding-top: 16px;
    width: 100%;
    justify-content: space-between;
}

.total-transations-values{
    padding: 24px;
    margin-top: 16px;
}

.total-income, .total-revenue{
    justify-content: space-between;
}

.total-income{
    padding-bottom: 8px;
    border-bottom: solid white 2px;
    margin-bottom: 8px;
}

.container-graph{
    height: 100%;
}

.container-recent-transactions{
    margin: 24px;
}

.container-transaction{
    margin-top: 16px;
    border-radius: 10px;
    padding:14px 16px;
    background-color: #2E2D33;
}

.transaction-info{
    width: 20%;
    justify-content: center;
}

.botton-body{
    margin:0 40px 0 40px
}

.categorie{
    padding: 2px 4px;
    gap: 8px;
    border: 1px solid #BFBFBF;
    border-radius: 5px;
}

.status{
    width: 50%;
    height: 30px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.income{
    
    background-color: #2E422F;
}

.income-text{
    font-size: 16px;
    color: #0CE908;
}

.expense{
    background-color: #422A2F;
}

.expense-text{
    font-size: 16px;
    color: #E43838;
}


@media screen and (max-width:1550px) {
    .font-l{
        font-size: 24px;
    }    
}

@media screen and (max-width:1400px) {
    .body{
        width: calc(100vw - 80px);
    }

    .balance{
        gap: 16px;
    }

    .col-md-10{
        width: 100%;
    }

    .container-fluid{
        padding-left: 0;
        padding-right: 0;
    }

    .menu{
        height: 1150px;
        width: 80px;
        padding-left: 16px;
    }

    .user-infos{
        right: 0;
    }
}

@media screen and (max-width:1200px) {
    .graph-values{  
        height: unset;
    }

    .container-balance-graph{
        padding-right: 0;
        margin-bottom: 16px;

    }

    .status{
        width: 100%;
    }

    .menu{
        height: 1500px;
        padding-bottom: 50%;
    } 
    
    .categorie-text{
        display: none;
    }
}

@media screen and (max-width:768px) {
    
    .description, .ballance-icon{
        display: none !important;
    }

    .user-photo{
        height: 30px;
        width: 30px;
    }

    .font-xsm{
        font-size: 10px;
    }

    .transaction-info{
        width: 25%;
    }

    .font-sm{
        font-size: 12px;
    }
    
    .font-md{
        font-size: 14px;
    }
    
    .font-m{
        font-size: 16px;
    }
    
    .font-l{
        font-size: 20px;
    }
    .font-xl{
        font-size: 24px;
    }

    .user-infos{
        right: 40px;
    }

    .balance{
        gap: unset;
    }

    .balance-info, .main-balance-info{
        width: 33%;
    }
}

@media screen and (max-width:630px) {
    .user-name,.months{
        display: none !important;
    }   
}

@media screen and (max-width:576px) {
    .dropdown{
        margin-left: 16px;
    }

    .font-l{
        font-size: 18px;
    }
    .font-xl{
        font-size: 20px;
}

    .date{
        display: none !important;
    }

    .top-body,.botton-body{
        margin-left: 16px;
        margin-right: 16px;
    }

    .middle{
        display: flex;
        justify-content: center;
        padding: 8px 0 8px 0;
        width: 34% !important;
        border-radius: 0 !important;
    }
    
    .right{
        padding: 8px 8px 8px 0;
        width: 33%!important;
        border-radius: 0px 10px 10px 0px;
    }

    .main-balance-info{
        padding: 8px 0 8px 8px;
        width: 33%;
        border-radius: 10px 0px 0px 10px;
    }

    .notification{
        display: none !important;
    }

    .user-infos{
        right: 16px;
    }

    .header{
        padding: 8px 16px 8px 16px;
        width: 100%;
    }

    .select-month{
        margin: 4px 8px 4px 8px;
    }

    .dropdown-toggle::after{
        display: none !important;
    }

}

@media screen and (max-width:410px) {

    .font-sm{
        font-size: 10px;
    }

    .font-l{
        font-size: 14px;
    }

    .font-xl{
        font-size: 16px;
    }

    .font-m{
        font-size: 12px;
    }

    .btn-text{
        margin: 4px 8px 4px 8px;
    }

    .graph-values{
        display: none !important;
    }
    .graph-months,.graph{
        padding: 0;
    }

    #my-chart.line{
        height: 120px;
    }
    
    .container-categorie ,.categorie-tittle{
        display: none !important;
    }

    .transaction-info{
        width: 50%;
    }

}